$head-bg: #edf6f9;

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  background: $head-bg;
  padding: 10px 10px;
}
.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0rem;
  padding: 0rem;
  list-style: none;
}
.header-main .logo-title {
  font-size: 2rem;
  font-weight: 500;
  color: #000;
}
.header-menu a {
  color: #000;
  font-size: large;
}
.header-menu .header-item {
  padding: 1rem;
  color: black !important;
  font-weight: 500;
}

.header-menu a:hover {
  color: #f07167;
  cursor: pointer;
}

.header-menu .header-item .active {
  color: #f07167;
}
.header-menu ul li:hover {
  background: #bf8888;
  color: blue;
  border-radius: 5px;
}
.head-logo {
  width: 75px;
  height: 75px;
}
