$head-bg:#EDF6F9;

.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width:100%;
    background: $head-bg;
    padding: 10px 10px;
}
.header-menu ul {
    display: flex;
    justify-content: space-around;
    align-items:center;
    text-align:center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.header-menu ul li{
    padding: 10px 20PX;
    background: #FFF9F9;
    margin-right: 10px;
}
.header-menu ul li a{
    color: black;
    font-size: 14px;
    font-weight: 600;
 
    border-radius: 5px;   
}
.header-menu ul li:hover{
    background: #bf8888;
    color: blue;
    border-radius: 5px;
}
.head-logo{
    width: 75px;
    height: 75px;
}